.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-middle {
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}